body {
    padding-top: 76px;
    padding-bottom: 60px;
}

:root {
    --bs-link-color-rgb: 51, 103, 145;
    --bs-link-hover-color-rgb: 25, 49, 69;
}

/* remove underlines from obvious links */
h1 a {
    text-decoration: none;
}

.sidebar a {
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    /* color: #ee4444; */
}

.sidebar {
    margin-bottom: 1em;
}

.article {
    margin-bottom: 1em;
}

.sidebar h1 {
    /* color: #ee4444; */
    font-size: 1.3em;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.container-left {
    margin: 0;
}

.card h1 {
    /* color: #ee4444; */
    font-size: 1.3em;
}

.card h2 {
    font-size: 1.2em;
}

.card h3 {
    font-size: 1.1em;
}

.author {
    /* color: #ee4444; */
}

.author a {
    /* color: #ee4444; */
}

dt {
    padding: 0 0 0 16px;
}

dt:after {
    content: ':';
}

dd {
    margin: 0px 0px 10px;
    padding: 0 0 0 40px;
}

table, td, th {
    border: 1px solid black;
}

th, td {
	padding: 3px 7px 3px 7px;
}

/* Hack to get around the menubar having position: fixed; */
h1[id]:before, h2[id]:before, h3[id]:before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
}

