---
layout: default
title: PgBouncer Downloads
---

<div class="well">

<h1>Source releases</h1>

<table border="0">
{% for serie_list in site.data.downloads.series %}
<tr>
  <th colspan="4">PgBouncer {{ serie_list[0].basever }}</th>
</tr>
{% for release in serie_list %}
<tr>
  <td><a href="{{ release.tgz_file}}">{{ release.tgz_basename }}</a></td>
  <td>{{ release.date }}</td>
  <td align="right">{{ release.tgz_size }} bytes</td>
  <td><a href="{{ release.tgz_file}}.sha256">sha256</a></td>
</tr>
{% endfor %}
{% endfor %}
</table>

<h1>Binary packages</h1>

<p>Various OS distributions have their native package/port of
PgBouncer.  So it might be good to first check if it is already
available on your OS.</p>

<p>Dedicated builds, might have newer versions than available at
distributor repos:</p>

<ul>
<li>RPM: <a href="https://yum.postgresql.org/">yum.postgresql.org</a></li>
<li>Deb: <a href="https://apt.postgresql.org/">apt.postgresql.org</a></li>
</ul>

</div>
