{% include header.html %}

<div class="container container-left">
  <div class="row">
    <div class="col-md-3 hidden-xs">
      <div class="sidebar card">
        <div class="card-body">
          {% include links-list.html %}
        </div>
      </div>
      <div class="sidebar card">
        <div class="card-body">
          <h1>Contents</h1>
          <div id="toc"></div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      {{ content }}
    </div>
  </div>
</div>

{% include footer.html %}
